jupyter==1.0.0
matplotlib==3.1.1
scipy==1.3.0
pandas==0.25.0
numpy==1.17.0
Scrapy==1.7.3
googlemaps==3.0.2
tweepy==3.8.0
sklearn==0.0
sympy==1.5.1
seaborn==0.9.0
networkx==2.3
python-louvain==0.13
pyglet==1.4.1
line_profiler
flake8
pycodestyle_magic
certifi>=2023.7.22 # not directly required, pinned by Snyk to avoid a vulnerability
cryptography>=42.0.2 # not directly required, pinned by Snyk to avoid a vulnerability
idna>=3.7 # not directly required, pinned by Snyk to avoid a vulnerability
ipython>=8.10.0 # not directly required, pinned by Snyk to avoid a vulnerability
jinja2>=3.1.4 # not directly required, pinned by Snyk to avoid a vulnerability
jupyter-core>=4.11.2 # not directly required, pinned by Snyk to avoid a vulnerability
mistune>=2.0.3 # not directly required, pinned by Snyk to avoid a vulnerability
nbconvert>=6.3.0b0 # not directly required, pinned by Snyk to avoid a vulnerability
notebook>=6.4.12 # not directly required, pinned by Snyk to avoid a vulnerability
prompt-toolkit>=3.0.13 # not directly required, pinned by Snyk to avoid a vulnerability
pygments>=2.15.0 # not directly required, pinned by Snyk to avoid a vulnerability
requests>=2.31.0 # not directly required, pinned by Snyk to avoid a vulnerability
scikit-learn>=0.24.2 # not directly required, pinned by Snyk to avoid a vulnerability
setuptools>=65.5.1 # not directly required, pinned by Snyk to avoid a vulnerability
tornado>=6.4.1 # not directly required, pinned by Snyk to avoid a vulnerability
twisted>=22.10.0rc1 # not directly required, pinned by Snyk to avoid a vulnerability
